:root {

    /* 2nd cheska's palette */
    /* --background-color: #dcd8d5;
    --page-color: #56371e;    
    --kpi-border-color: #366831;
    --kpi-tab-color: #a5c473; kpi background
    --font-color: black;

    --logo-font: #e3dbdb;
    --tab-color: #846954;
    --tab-hover: #cbac7a;
    --tab-font: #fffefd;  */

    --background-color: #FEFBEF; 
    --page-color: #80924D;
    --tab-color: #A09555;

    /* --logo-font: #faf2f2; */
    --tab-font: #FEFBEF;

    /* cream */
    --wildfire-color-1: #FEFBEF;
    --wildfire-color-2: #FEFBEF;

    --drug-color-1: #FEFBEF;
    --drug-color-2: #FEFBEF;

    --homeless-color-1: #FEFBEF;
    --homeless-color-2: #FEFBEF;

    --shelter-color-1: #FEFBEF;
    --shelter-color-2: #FEFBEF;

    --bebasP: #202E1E;
    --bebasB: #80924D;

    --shadow:  #C3BD99;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    /* transition-duration: 500ms */
}

body {
    /* background-color: var(--background-color); */
    background-color: #FEFBEF;
    color: var(--kpi-tab-color);
    padding: 0.6rem;
    overflow-x: hidden;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.8px;
    /* font-family:  */
    
}

a {
    text-decoration: none;
}
/* a:hover {
    /* color: lightgreen;  */

.boldText {
    color: var(--drug-color-2);
}

header {
    /* background: white; */
    position: absolute;
    top: 5px;
    z-index: 1;

    width:100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

.logoContainer {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6rem;
    /* padding-top: 10rem; */
    overflow: hidden;
    background: #FEFBEF;
    border-radius: 30px;
}

#logo {
    width: 90%;
    height: 90%;
    object-fit: contain;
    border-radius: 5px;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 0.7rem;

}

.navTab {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;

    position: absolute;
    top: 47px;
    
}



.frontTab {
    background-color: var(--page-color);

  
    width: 13.5rem;
    height: 8.4rem;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    /* margin-left: -0.001rem; */
    


    display: flex;
    justify-content: center;
    align-items:center;
    padding-bottom: 2rem;
    padding-top: 3.5rem;
    padding-right: 2.1rem;
}

.headerPlate {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding-top: 3rem;
    padding-left: 2rem;
    /* background-color: white; */
    /* hover text, tab goes up */
}

.logoContainer {    
    position: relative;
    border-radius: 50%;
    /*circle border */
    /* background-color: rgb(215, 237, 202);  */
    padding: 0.3rem;
}

.logoContainer img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#advocally {
    color: var(--logo-font);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.16rem;
}

.tabPane {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.tab {
    background-color: var(--tab-color);
    width: 140px;
    height: 60px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.arrow {
    margin-right: 7px;
}
.tab h4 {
    font-family: "Bebas Neue";
    color: var(--drug-color-1)
}


.tab:hover {
    /* margin-top: 0px;
    height: 65px;
    background-color: var(--tab-hover); */
    transform: translateY(-5px);
    height: 65px;
}

.tab a {
    color: var(--tab-font);
    
}

main {
    background-color: var(--page-color);
}


.frontPage {
    margin-top: 7rem;
    position: relative;
    background-color: var(--page-color);
    border-radius: 20px;
    padding: 1rem;
    padding-top: 3rem;

    max-height: 100%;
    

}

.frontPage h2 {
    color: white;
    margin-left: 15rem;
    margin-right: 15rem;
}

.frontPage h4 {
    font-weight: 700;
    color: rgb(224, 220, 220);
}

/* INTRO TEXT */
.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5rem;
    text-align: center;
    gap: 2rem;
}

#title {
    font-size: 3rem;

}

.subTitle {
    font-family: "Aleo", sans-serif;
    color: var(--bebasP);
}


/* BLOOOOOOOOOOOOOOOGS */

.loading {
    font-size: 4rem;
    font-weight: bold;
    color: var(--kpi-tab-color);

    display: flex;
    justify-content: center;
    padding: 5rem;
    padding-bottom: 10rem;
}

.introContainer h2 {
    font-size: 4rem;
}

.introContainer h4 {
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--bebasP);
    font-family: "Aleo";
}


.articleImage {
    width: 900px;
    height: 500px;
}

.citation {
    font-size: 0.4rem;
    color: var(--bebasP-);
    opacity: 60%;
    font-family: "Aleo", sans-serif;
}

/* blog section */


.article {
    display: flex;
    flex-direction: column;
    padding: 7rem;
    padding-top: 0;
    justify-content:space-around;


    line-height: 2.3rem;
    gap: 1.5rem;
}

.article p {
    font-size: 1.1rem;
    color: white;
    font-family: "Aleo";
}

.article a {
    color: white;
}

.article .boldText {
    font-weight: 1000;
    color: var(--bebasP);
}

.reference {
    background: var(--shadow);
    padding: 3rem;
    margin-top: 1rem;
    border-radius: 30px;
    margin-bottom: -1rem;
    height: 100%;
}

.reference .referenceBold {
    font-family: "Bebas Neue";
    font-size: 1.4rem;
    color: var(--bebasP);
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
    .frontPage {
        height: 100%;
    }
    
    .navTab {
        width: 100%;
        gap: 0.3rem;
        margin-right: 25px;
    }

    .tabPane {
        gap: 0.5rem;
    }

    .frontTab {
        width: 24%;
        margin-top: 1rem;
    }

    .logoContainer {
        width: 49px;
        height: 49px;
        margin-top: -7.5rem;
        padding: 0;
    }

    #logo {
        width:80%;
        height: 80%;
        object-fit: contain;
        border-radius: 5px;
        

        /* margin-top: 4rem; */
        /* margin-bottom: 0.5rem; */
        margin-left: 0.4rem;
        margin-bottom: 0.6rem;
    }

    .tabPane {
        width: 70%;
    }

    .tab {
        width: 28%;
        height: 40px;
    
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    
        display: flex;
        justify-content: center;
        align-items: end;
    
        margin-top: 25px;
        padding: 0.7rem;
    
        letter-spacing: 0.8px;
    
        }

    .tab a {
        font-size: 0.5rem;
        display: block;
        text-align: center;
    }

    .tab:hover {
        transform: translateY(-5px);
        height: 45px;
    }
    
    .introSec,
    .introContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .introContainer {
        padding: 1rem;
        padding-top: 1.1rem;
        gap: 1rem;
    }

    .authorDate{
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        line-height: 1.4rem;
        gap: 0rem;
    }

    #title {
        font-size: 1rem;
        margin: 0;
    }

    .authorDate p {
        /* font-size:0.6rem; */
        color: var(--bebasP);
        font-family: "Aleo", sans-serif;
        margin: 0;
    }

    .subTitle {
        font-size: 0.5rem;
    }

    .introContainer h2,
    .advocallyIntro {
        display: block;
        text-align: center;
    }


    .advocallyIntro {
        margin: 0;
        padding: 0.5rem;
    }

    .imageContainer {
        width: 300px;
        height: 180px;
        /* border-radius: 10px; */

        margin: 2rem;
        margin-top: 0.5rem;
    }

    .imageContainer {
        width: 100%;
    }

    .articleImage {
        width: 100%;
        height: 100%;
        /* border-radius: 10px; */
    }

        .article {
            padding: 1rem;

        }

        .article p {
            font-size: 0.6rem;
            line-height: 1.4rem;
            display: block;
        }

        .reference {
            display: flex;
            flex-direction: column;
            padding: 1.4rem;
            height: 100%;
            width: 100%;
            font-family: "Aleo", sans-serif;
        
            
        }

        .reference p {
            font-size: 0.6rem;
        }

        .referenceBold {
            font-size: 0.6rem;
        }

 
    }

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .frontPage {
        height: 100%;
    }
    
    .navTab {
        width: 100%;
        gap: 0.3rem;
        margin-right: 25px;
    }

    .tabPane {
        gap: 0.5rem;
    }

    .frontTab {
        width: 24%;
        margin-top: 1rem;
    }

    .logoContainer {
        width: 49px;
        height: 49px;
        margin-top: -7.5rem;
        padding: 0;
    }

    #logo {
        width:80%;
        height: 80%;
        object-fit: contain;
        border-radius: 5px;
        

        /* margin-top: 4rem; */
        /* margin-bottom: 0.5rem; */
        margin-left: 0.4rem;
        margin-bottom: 0.6rem;
    }

    .tabPane {
        width: 70%;
    }

    .tab {
        width: 28%;
        height: 40px;
    
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    
        display: flex;
        justify-content: center;
        align-items: end;
    
        margin-top: 25px;
        padding: 0.7rem;
    
        letter-spacing: 0.8px;
    
        }

    .tab a {
        font-size: 0.5rem;
        display: block;
        text-align: center;
    }

    .tab:hover {
        transform: translateY(-5px);
        height: 45px;
    }
    
    .introSec,
    .introContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .introContainer {
        padding: 1rem;
        padding-top: 1.1rem;
        gap: 1rem;
    }

    .authorDate{
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        line-height: 1.8rem;
        gap: 0rem;
    }

    #title {
        font-size: 1rem;

        margin: 0;
    }

    .authorDate p {
        font-size:0.6rem;
        color: var(--bebasP);
        font-family: "Aleo", sans-serif;
        margin: 0;
    }

    .subTitle {
        font-size: 0.5rem;
    }

    .introContainer h2,
    .advocallyIntro {
        display: block;
        text-align: center;
    }


    .advocallyIntro {
        margin: 0;
        padding: 0.5rem;
    }

    .imageContainer {
        width: 300px;
        height: 180px;
        /* border-radius: 10px; */

        margin: 2rem;
    }

    .articleImage {
        width: 100%;
        height: 100%;
        /* border-radius: 10px; */
    }

        .article {
            padding: 1rem;

        }

        .article p {
            font-size: 0.6rem;
            line-height: 1.4rem;
            display: block;
        }

        .reference {
            display: flex;
            flex-direction: column;
            padding: 1.4rem;
            height: 100%;
            width: 100%;
            font-size: 0.4rem;
            
        }

        /* .reference p {
            font-size: 0.6rem;
        }

        .referenceBold {
            font-size: 0.6rem;
        } */
    }
    
    @media only screen and (min-width: 768px) and (max-width: 1024px) {

        .frontPage {
            border-top-left-radius: 70px;
            height: 100%;
        }
        .navTab {
            width: 100%;
            gap: 0.5rem;
            margin-right: 25px;
        }
    
        .frontTab {
            width: 24%;
            margin-top: 1rem;
        }
    
        .logoContainer {
            width: 100px;
            height: 100px;
            margin-top: -3.9rem;
            padding: 0;
        }
    
        #logo {
            width: 65%;
            height: 65%;
            object-fit: contain;
            border-radius: 5px;
    
            /* margin-top: 4rem; */
            /* margin-bottom: 0.5rem; */
            margin-right: 1rem;
        }
    
        
        .tabPane {
            width: 70%;
        }
    
        .tab {
        width: 20%;
        height: 40px;
    
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        padding: 0.7rem;
        }
    
        .tab a {
            font-size: 0.6rem;
        }
    
        .tab:hover {
            transform: translateY(-5px);
            height: 45px;
        }
        
        .introSec,
        .introContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .introContainer {
            padding: 1rem;
            padding-top: 1.1rem;
            gap: 1rem;
        }
    
        .authorDate{
            margin-top: 3rem;
            width: 100%;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            line-height: 1rem;
            gap: 1rem;
        }
    
        #title {
            font-size: 2rem;
            margin: 0;
            line-height: 3rem;
        }
    
        .subTitle {
            font-size:0.6rem;
            color: var(--bebasP);
            font-family: "Aleo", sans-serif;
            margin: 0;
        }
    
        .introContainer h2,
        .advocallyIntro {
            display: block;
            text-align: center;
        }
    
    
        .advocallyIntro {
            margin: 0;
            padding: 0.5rem;
        }
    
        .imageContainer {
            width: 300px;
            height: 180px;
            /* border-radius: 10px; */
    
            margin: 2rem;
        }
    
        .articleImage {
            width: 100%;
            height: 100%;
            /* border-radius: 10px; */
        }
    
            .article {
                padding: 1rem;
    
            }
    
            .article p {
                font-size: 0.6rem;
                line-height: 1.4rem;
                display: block;
            }
    
            .reference {
                display: flex;
                flex-direction: column;
                padding: 1.4rem;
                height: 100%;
                width: 100%;                
            }
    
            .reference p {
                font-size: 0.6rem;
            }
    
            .referenceBold {
                font-size: 0.6rem;
            }
        }